<tr class="player">
  <td>{{player.Rank}}</td>
  <!--<td>{{player.name}}</td>-->
  <td class="table-player-name">{{player.Name}}</td>
  <td>{{player.Played}}</td>
  <td>{{player.Won}}</td>
  <td>{{player.Sets}}</td>
  <td>{{player.Games}}</td>
</tr>

        <!--//     // '<tr class="player query-status-{{query.status}}">',
        //     '<tr class="player">',
        //         '<td>{{ player.name }}</td>',
        //         // '<td>{{ query.status | uppercase }}</td>',
        //     '</tr>'-->
