<button ng-click="sortPlayersBySetsLost()">Sort by Sets Lost</button>
<button ng-click="sortPlayersByGamesLost()">Sort by Games Lost</button>

<table class="table table-player" ng-show="players.length">
  <thead>
    <tr>
      <th>
        <button ng-click="sortPlayersByRank()">Rank</button>
      </th>
      <th class="table-player-name">
        <button ng-click="sortPlayersByName()">Name</button>
      </th>
      <th>
        <button ng-click="sortPlayersByParticipation()">Played</button>
      </th>
      <th>
        <button ng-click="sortPlayersByWins()">Wins</button>
        </th>
      <th>
        <button ng-click="sortPlayersBySetsWon()">Sets</button>
      </th>
      <th>
        <button ng-click="sortPlayersByGamesWon()">Games</button>
      </th>
    </tr>
  </thead>
  <tbody>
      <tr row-player ng-repeat="player in players track by $index"
                player="player">
      </tr>
  </tbody>
</table>
