<div class="team-info">
  <div class="teams-back-link">
    <a href="/app/teams">Back to teams list</a>
  </div>

  <h1>Team: {{teamname}}</h1>

  <p>Statistics are from this <a ng-href="{{teamlink}}" target="_blank">LTA players page</a>.</p>

  <p>Click column headers to sort by ascending/descending order
    <br>
    <span class="small-text">(equal values ordered by name)</span>
  </p>

  <table class="table table-player" ng-show="players.length">
    <thead>
      <tr>
        <th>
          <button ng-click="sortPlayersByRank()" ng-class="{'button-order': sorted[RANK_IDX]}">
            LTA Rank
          </button>
        </th>
        <th class="table-player-name" >
          <button ng-click="sortPlayersByName()" ng-class="{'button-order': sorted[NAME_IDX]}">
            Name
          </button>
        </th>
        <th>
          <button ng-click="sortPlayersByParticipation()" ng-class="{'button-order': sorted[PART_IDX]}">Played</button>
        </th>
        <th>
          <button ng-click="sortPlayersByWins()" ng-class="{'button-order': sorted[WINS_IDX]}">Wins</button>
          </th>
        <th>
          <button ng-click="sortPlayersBySetsWon()" ng-class="{'button-order': sorted[SETS_WON_IDX]}">Sets Won</button>
        </th>
        <th>
          <button ng-click="sortPlayersBySetsLost()" ng-class="{'button-order': sorted[SETS_LOST_IDX]}">Sets Lost</button>
        </th>
        <th>
          <button ng-click="sortPlayersByGamesWon()" ng-class="{'button-order': sorted[GAMES_WON_IDX]}">Games Won</button>
        </th>
        <th>
          <button ng-click="sortPlayersByGamesLost()" ng-class="{'button-order': sorted[GAMES_LOST_IDX]}">Games Lost</button>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr row-player ng-repeat="player in players track by $index"
                  player="player">
        </tr>
    </tbody>
  </table>
</div>
