<section class="main">
  <h1>Barnet Middx Teams - Statistics App</h1>

  <p>
  This app enables some rather more flexible use of the player statistics found on the
  <a href="http://lta.tournamentsoftware.com/" target="_blank">LTA British Tennis</a> site.
  <br>
  <br>
  At the moment, only statistics for the teams below are shown. Click the team name to view and re-order statistics for those players.
  </p>

  <ul ng-repeat="teamInfoItem in $ctrl.teamInfoItems">
    <li class="team-list-item">
      <a ng-href="{{teamInfoItem.teamRoute}}">{{teamInfoItem.teamName}}</a>
    </li>
  </ul>
</section>

