button {
  padding: 5px;
  border: 1px;

  margin-left: 4px;
  border-style: dashed;

  height: 48px;
}

/*td, th {
  min-width: 40px;
  text-align: right;
  padding-right: 15px;
}*/

td {
  min-width: 40px;
  text-align: right;
  // padding-right: 15px;
}

th.table-player-name, td.table-player-name {
  text-align: left;
}

td {
  // padding-right: 20px;
}

td.table-player-name {
  padding-left: 10px;
  width: 20px;
}

.button-order {
  background-color: aquamarine;
}

.colGamesWon {
  min-width: 20px;
}

.colNumbers {
  padding-right: 8px;
}

p {
  margin-left: 8px;
}
